.geral {
    background-color: cyan;
    height: 200px;
    display: inline-flex;
}
.div1 {
    background-color: rgb(255, 0, 0);
}

.div2 {
    background-color: blue;

}

.div3 {
    background-color: chartreuse;
}

.div4 {
    background-color: darkgreen;
    color: aliceblue;
    position: fixed;
    top: 95%;
    width: 100%;
}
