<h4>Login:</h4>
<div class="card mt-4">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">E-mail: </label>
                <input type="email" name="email" class="form-control">
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control">
            <button type="submit" class="mt-4 btn btn-success">Entrar</button>
        </form>
    </div>
</div>