<div class="card">
  <div class="card-body">
    <h1>Nome: {{pacientes.nome}}</h1>
    <hr />
    <small>Sobrenome: {{pacientes.sobrenome}}</small><br />
    <hr />
    <small>Nome Mae: {{pacientes.nomeMae}}</small>
  </div>
</div>