/**
    CSS Module: Tag List
*/

// Add helpers
@import "../../../styles/global/helpers.scss";

.list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	max-height: 7.8rem;
	overflow-y: scroll;

	@include desktop() {
		max-height: auto;
		overflow-y: visible;
	}
}
