@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./dark.scss";

/* Addons */

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.z-0 {
	z-index: 0;
}

.z-5 {
	z-index: 5;
}
