{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="card">
  <div class="card-body">
    <h4>Novo Paciente</h4>
    <form action="/admin/pacientes/nova" method="POST">
      <label for="nome">Nome:</label>
        <input type="text" name="nome" class="form-control" required>
      <label for="sobrenome">Sobrenome:</label>
        <input type="text" name="sobrenome" class="form-control" required>
      <label for="dt_nasc">Data de Nascimento:</label>
        <input type="date" name="dt_nasc" class="form-control" required>
      <label for="documentoCpf">CPF:</label>
        <input type="number" name="documentoCpf" class="form-control" required>
      <label for="documentoRg">RG:</label>
        <input type="number" name="documentoRg" class="form-control" required>
      <label for="nomeMae">Nome da Mae:</label>
        <input type="text" name="nomeMae" class="form-control" required>
    <label for="nomePai">Nome do Pai:</label>
        <input type="text" name="documentoRg" class="form-control" required>

      <button type="submit" class="btn btn-success mt-4">Criar Paciente</button>
    </form>
  </div>
</div>