/**
    CSS Module: Card
*/

// Helpers
@import "../../../styles/global/helpers.scss";

$card-width: 16rem;
$card-height: 24rem;

.scene {
	width: $card-width;
	height: $card-height;
	perspective: 40rem;
	margin: 0.5rem 0;
	box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
	border-radius: 5px;
	overflow: hidden;
	@include tablet() {
		margin: 1rem 0;
	}

	@include desktop() {
		width: $card-width * 1.2;
	}

	&--dark{
		border: 1px solid #b221f6 ;
		.card__body{
			background-color: #212529;
			color: white;
		}
		.card__readmore{
			color: white;
		}
	}
}

.card {
	text-align: left;
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	position: relative;
	cursor: pointer;
	margin: 1px;
	

	&:hover,
	&:focus,
	&:active {
		transform: rotateY(180deg);
	}

	@include only-mobile() {
		transition: transform 250ms;
	}

	&__face {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		&--front {
		}
		&--back {
			background-color: rgba(255, 255, 255, 0.7);
			transform: rotateY(180deg);
			display: flex;
			align-items: flex-end;
		}
	}

	&__image {
		width: 100%;
		min-height: $card-height * 0.33;
		position: relative;
	}

	&__title {
		font-size: 1.5rem;
		margin: 0 0 1rem 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: center;

		@supports (-webkit-line-clamp: 3) {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: initial;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}

	&__body {
		width: 100%;
		height: $card-height * 0.66;
		position: relative;
		overflow: hidden;
		padding: 1rem;
		background-color: white;
	}

	&__description {
		font-size: 16px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		@supports (-webkit-line-clamp: 5) {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: initial;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
		}
	}

	&__readmore {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
		color: black;
	}

	
}
